# Auto detect text files and perform LF normalization
*               text=auto   eol=lf

# C++
*.cpp           text        diff=cpp
*.hpp           text        diff=cpp

# Python
*.py            text        diff=python

# Config
.editorconfig   text
.gitattributes  text
.gitignore      text
.gitmodules     text
Doxyfile        text

# YOLO
*.cfg           text
*.names         text
*.weights       binary

# Documents
*.md            text        diff=markdown
*.rc            text
*.txt           text
LICENSE         binary

# Graphics
*.ico           binary
*.gif           binary
*.mp4           binary
*.png           binary
*.svg           text

# Serialisation
*.yml           text

# Web
*.css           text      diff=css
*.html          text      diff=html
*.js            text
